*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: #F5F7FA;
    width: 100%;
    overflow: hidden;
}
.feature{
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}
.feature h1{
    font-size: 4.5vmax;
    color: #000543;
    padding: 20px;
    
}
.feature p{
    font-size: 3.5vmin;
    text-align: center;
    color: #667180;
}
.pay{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: row;
    padding: 40px;
}
.pink{
    width: 100%;
    background-color: #FEFEFE;
    border-radius: 10px;
    height: 70vh;
    padding: 40px;
    position: relative;
}
.orange{
    width: 100%;
    background-color: #FEFEFE;
    border-radius: 10px;
    height: 70vh;
    padding: 40px;
}
.purple{
    width: 100%;
    background-color: #FEFEFE;
    border-radius: 10px;
    height: 70vh;
    padding: 40px;
    position: relative;
}
.purple:hover{
    border: 2px solid blue;
    transition: ease-in-out .5s;
    scale: 0.9;

}

.orange:hover{
    border: 2px solid blue;
    transition: ease-in-out .5s;
    scale: 0.9;

}
.pink:hover{
    border: 2px solid blue;
    transition: ease-in-out .5s;
    scale: 0.9;

    
}
.pink:hover{
    width: 100%;
    border-radius: 10px;
    padding: 40px;   
}
.orange:hover{
    width: 100%;
  
    border-radius: 10px;
    padding: 40px;

}


.pink h1, .orange h1,.purple h1{
    font-size: 2.0vmax;
    color: #000543;
}
.pink p,.orange p{
    font-size: 3.2vmin;
    margin-top: 20px;
    color: #667180;
} 
.purple p{
    font-size: 3.2vmin;
    margin-top: 20px;
    color: #667180;
}
.more{
    margin-top: 30px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    font-size: 3.5vmin;
    background-color: transparent;
    border: none;
    color: #000543;
}
.purple img{
    margin-top: 30px;
}
.pink img{
    margin-top: 30px;
}
.orange img{
    margin-top: 30px;
}
.online{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    height: 80vh;
    overflow: hidden;
    /* border-bottom: 4px solid #E3E3EA; */
}
.but{
    width: 100%;
}
.the{
    width: 100%;
}
.hassle{
    background-color: #fff;
    width: 100%;
    padding: 40px;
    height: 100vh;
    /* overflow: hidden; */
}
/* .but h1{
    font-size: 4.0vmax;
    color: #000543;
} */
/* .but p{
    font-size: 3.5vmin;
    color: #667180;
} */
.the img{
    width: 100%;
}
.the img:hover{
    transition: ease-in-out .5s;
    scale: 0.9;

}

.user{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    gap: 30px;
}
.best{
    width: 100%;
    margin-top: 50px;

}
.secure{
    width: 100%;
    margin-top: 50px;

}
.support{
    width: 100%;
    margin-top: 50px;
}
.best h1,.support h1,.secure h1{
    color: #000543;
    font-size: 2.0vmax;
}
.best p,.support p, .secure p{
    color: #667183;
    font-size: 3.1vmin;
    margin-top: 30px;
}
.span{
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.spa svg{
    color: red;
}

/* .but button{
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 10px;
    color: #000543;
    background-color: white;
}
 */


@media screen and (max-width:1200px) {
    .pay{
        width: 100%;
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding: 40px;
    }
    
.footer{
    background-color: #F5F7FA;
    width: 100%;
}
    .online{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
        height: 80vh;
        /* border-bottom: 4px solid #E3E3EA; */
    }
    .user{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        gap: 10px;
    }
    .best h1,.support h1,.secure h1{
        color: #000543;
        font-size: 3.5vmax;
    }
    .best p,.support p, .secure p{
        color: #667183;
        font-size: 3.1vmin;
        margin-top: 20px;
    }
    .purple{
        height: 73vh;
    }
    .pink{
        height: 73vh;
    }
    .orange{
        height: 73vh;
    }
    .great{
        width: 100%;
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }
    .own img{
        height: 40vh;
    }
    .hassle{
        background-color: #fff;
        width: 100%;
        padding: 40px;
        height: 100vh;
    }
    .but p{
        margin-top: 30px;
    }
    .but button{
        margin-top: 30px;
    }
    .the img{
        margin-top: 30px;
        height: 40vh;
    }
    .fintex{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* border-bottom: 2px solid #DADCE6; */
        height: 100vh;
    }
    .faq{
        background-color: #F5F7FA;
        min-height: 100vh;
        width: 100%;
        padding: 40px;
    }
}