*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq{
    background-color: #F5F7FA;
    min-height: 50vh;
    width: 100%;
    padding: 40px;
}
.fintex{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    min-height: 50vh;
}
.empty{
    border-top: 2px solid #DADCE6;
    /* margin-top: 30px; */
    /* position: absolute; */
    /* top: 180%; */
}
.page{
    width: 100%;
}
.page1{
    width: 70%;
}
.page1 li{
    list-style: none;
    margin-top: 20px;
    font-size: 25px;
}
.page1 h1{
    font-size: 2.0vmax;
    color: #000543;
}
.page1 a{
    text-decoration: none;
    color: #7C7180;
    transition: ease-in-out .5s;

}
.page1 a:hover{
    color: blue;
    transition: ease-in-out .5s;

}
.page2 li{
    list-style: none;
    margin-top: 20px;
    font-size: 25px;
}
.page2 h1{
    font-size: 2.0vmax;
    color: #000543;
}
.page2 a{
    text-decoration: none;
    color: #7C7180;
    transition: ease-in-out .5s;
    
}
.page2 a:hover{
    color: blue;
    transition: ease-in-out .5s;

}
.page3 li{
    list-style: none;
    margin-top: 20px;
    font-size: 25px;
}
.page3 h1{
    font-size: 2.0vmax;
    color: #000543;
}
.page3 a{
    text-decoration: none;
    color: #7C7180;
    transition: ease-in-out .5s;
    
}
.page3 a:hover{
    color: blue;
    transition: ease-in-out .5s;

}
.page2{
    width: 70%;
}
.page3{
    width: 70%;
}
.page img{
    color: blue;
}
.faq h2{
    text-align: center;
    color: #979FA2;
    margin-top: 20px;
}
.page p{
    color: #979FA2;
    font-size: 3.5vmin;
    margin-top: 30px;
}
@media screen and (max-width:1200px) {
 
.fintex{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* overflow: hidden; */
    /* border-bottom: 2px solid #DADCE6; */
    height: 100vh;
} .faq{
    background-color: #F5F7FA;
    min-height:200vh;
    width: 100%;
    padding: 40px;
}
.empty{
    position: relative;
    top: 550px;
}
  
}